@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #1a1a1a;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 20px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  transition: 0.7s ease;
}

ul a:hover {
  transform: translateY(-10px);
  padding-bottom: 6px;
  border-bottom: 1px solid #ff6b6b;
  color: #ff6b6b;
}
.header_right img,
.header_right h3 {
  cursor: pointer;
}

input,
.close_bar,
.menu_bar {
  display: none;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_right h3,
.header_right1 h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid #ff0000;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
}
.header_right1 {
  display: none;
}

@media (max-width: 1220px) {
  nav ul li a,
  .header_right h3 {
    font-size: 16px;
  }
  nav ul,
  .header_right {
    gap: 25px;
  }
}

@media (max-width: 1020px) {
  .header_right {
    display: none;
  }
}

@media (max-width: 700px) {
  .close_bar,
  .menu_bar {
    display: block;
  }
  .header_right1 {
    display: flex;
    flex-direction: column;
  }
  .header_imges {
    margin-top: 20px;
    align-self: center;
    justify-self: center;
  }
  nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -100%;
    top: 0;
    background: linear-gradient(180deg, #333 0%, #1a1a1a 100%);
    z-index: 999;
    padding-top: 120px;
    transition: 0.7s ease;
  }
  nav ul {
    flex-direction: column;
    gap: 40px;
  }

  #close {
    display: none;
  }

  .close_bar {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  #close:checked ~ nav {
    left: 0;
  }
  .header_right1 {
    display: block;
  }
}

.shwn_h2 {
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}
.shwn_h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  margin-bottom: 50px;
}

.down_buttons button {
  background-color: transparent;
  border: 1px solid #ffb72b;
  border-radius: 10px;
  display: flex;
  width: 260px;
  height: 60px;
  text-align: start;
  align-items: center;
}

.down_buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.down_buttons button img {
  transform: translateX(-20px);
}

.down_buttons span {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.upper_btn {
  border-radius: 10px;
  border: none;
  background: linear-gradient(180deg, #f00 0%, #c70000 100%);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 20px 60px;
  margin-bottom: 75px;
}

.grid_elements {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
}
.grid_right {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.grid_right img {
  filter: drop-shadow(0 1px 80px rgba(255, 0, 0, 0.35))
    drop-shadow(0 10px 200px rgba(120, 0, 0, 0.25));
}
.grid_right h3 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 100px;
  line-height: 96%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  transform: translate(10%, 30px);
  z-index: -1;
}
.grid_right img {
  transform: translateY(-40px);
}
.grid_right {
  position: relative;
}

.showcas_bg {
  position: absolute;
  z-index: -10;
  right: -10%;
  top: 15%;
}

.showcase > div {
  position: relative;
}

.pastga {
  position: absolute;
  left: 0;
  bottom: 15%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pastga h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
}

@media (max-width: 1295px) {
  .upper_btn {
    font-size: 14px;
  }
}
@media (max-width: 1216px) {
  .shwn_h2 {
    font-size: 32px;
  }
  .shwn_h3 {
    font-size: 24px;
  }
}
@media (max-width: 1190px) {
  .grid_right h3 {
    font-size: 72px;
    transform: translate(10%, 10px);
  }
  .pastga {
    bottom: 10%;
  }
}
@media (max-width: 1122px) {
  .upper_btn {
    font-size: 12px;
  }
  .showcas_bg {
    top: -5%;
  }
  .pastga {
    bottom: 0%;
  }
}
@media (max-width: 987px) {
  .pastga {
    display: none;
  }
}
@media (max-width: 880px) {
  .upper_btn {
    margin-bottom: 40px;
  }
  .down_buttons {
    gap: 10px;
  }
  .grid_right h3 {
    font-size: 60px;
    transform: translate(10%, 0px);
  }
}

@media (max-width: 800px) {
  .down_buttons button {
    width: 200px;
  }
  .down_buttons span {
    font-size: 11px;
  }
  .upper_btn {
    font-size: 8px;
    padding: 20px 40px;
  }
}

@media (max-width: 750px) {
  .shwn_h2 {
    font-size: 28px;
  }
  .grid_right h3 {
    font-size: 50px;
  }
}

@media (max-width: 700px) {
  .pastga {
    left: 25%;
  }
  .showcas_bg {
    width: 186px;
    height: 186px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .down_buttons {
    order: 1;
  }
  .upper_btn {
    width: 90vw;
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
  }
  .grid_elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid_right {
    order: 1;
  }
  .grid_left {
    order: 2;
  }
  .down_buttons button {
    width: 90vw;
    height: 40px;
  }
  .down_buttons span {
    font-size: 14px;
  }
  .down_buttons img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 650px) {
  .shwn_h2 {
    font-size: 21px;
  }
  .shwn_h3 {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .grid_right img {
    transform: translateY(-30px);
  }
}

.register {
  margin-top: 60px;
}

.register > div {
  padding: 40px;
  border: 1px solid #f00;
  border-radius: 10px;
  background: url("./img/bg_img.png");

  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.name,
.number {
  display: block;
}
.input_areas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.register h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #ffb72b;
}
.register span {
  font-weight: 600;
  color: #fff;
}

.input_areas input {
  padding: 18px 0 18px 20px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  background: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgba(26, 26, 26, 0.5);
}

.input_areas button {
  border-radius: 10px;
  background: linear-gradient(180deg, #f00 0%, #c70000 100%);
  border-color: transparent;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.register h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 1020px) {
  .register h2 {
    font-size: 24px;
  }
  .register h3 {
    font-size: 16px;
  }
  .register > div {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .input_areas input {
    font-size: 14px;
  }
  .input_areas button {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .input_areas {
    display: flex;
    flex-direction: column;
  }
  .input_areas button {
    padding: 18px;
  }
  .register h2,
  .register h3 {
    text-align: center;
  }
  .register > div {
    background-position: bottom;
  }
}

.service {
  margin-top: 100px;
}

.card_elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  row-gap: 50px;
}

.cards h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  text-align: center;
}

.service h2 {
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}
.service h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin: 20px 0 75px;
}

@media (max-width: 1200px) {
  .cards h4 {
    font-size: 16px;
  }
}

@media (max-width: 1020px) {
  .service h2 {
    font-size: 32px;
  }
  .service h3 {
    font-size: 21px;
  }
  .card_elements {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .service h2 {
    font-size: 21px;
  }
  .service h3 {
    font-size: 15px;
    margin: 10px 0 20px;
  }
  .card_elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards h4 {
    font-size: 12px;
  }
}

.cost {
  margin-top: 100px;
}
.cost h2 {
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}

.cost_elements {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cost_elements h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
  padding: 20px 0 10px;
}
.cost_elements h4 {
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
}

@media (max-width: 1020px) {
  .cost_elements img {
    width: 75px;
    height: 75px;
  }
  .cost h2 {
    font-size: 32px;
  }
  .cost_elements h3 {
    font-size: 21px;
  }
  .cost_elements h4 {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .cost_elements {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .cost_elements img {
    height: 40px;
    width: 40px;
  }
  .cost h2 {
    font-size: 21px;
  }
  .cost_elements h3 {
    font-size: 15px;
  }
  .cost_elements h4 {
    font-size: 12px;
  }
}

.work h2 {
  margin-top: 100px;
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}

.work_elements {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work_img {
  position: relative;
}

.work_img h3 {
  width: 100%;
  padding: 20px 0 20px 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #f00;
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(5px);
  background: rgba(26, 26, 26, 0.75);
  position: absolute;
  bottom: 0;
}

.work_cards h4 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
}

.ong_chap {
  margin-top: 30px;
  display: flex;
  justify-self: center;
}

@media (max-width: 1020px) {
  .work h2 {
    font-size: 32px;
  }
  .work_elements h3 {
    font-size: 18px;
  }
  .work_elements h4 {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .work_elements {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .hidden_element {
    display: none;
  }
  .work_cards img {
    width: 90vw;
  }

  .ong_chap {
    width: 85px;
    height: 30px;
  }
}

.model h2 {
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  margin: 100px 0 75px;
}

.model_elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.model_card {
  display: flex;
  align-items: center;
  border: 1px solid #f00;
  border-radius: 20px;
  max-width: 100%;
}

.model_card h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1vw;
  line-height: 140%;
  color: #f00;
  overflow-wrap: break-word;
  line-height: 1.1;
}

.model_card h4 {
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 140%;
  color: #fff;
  overflow-wrap: break-word;
  line-height: 1.1;
}

@media (max-width: 1020px) {
  .model h2 {
    font-size: 32px;
  }
  .model_elements {
    grid-template-columns: repeat(3, 1fr);
  }
  .model_hidden {
    display: none;
  }
  .model_elements h3 {
    font-size: 1.2vw;
  }
  .model_elements h4 {
    font-size: 1vw;
  }
  .model_elements img {
    width: 120px;
    height: 101px;
  }
}

@media (max-width: 700px) {
  .model h2 {
    font-size: 21px;
    margin-bottom: 40px;
  }
  .model_elements img {
    width: 60px;
    height: 54px;
  }
  .model_elements {
    grid-template-columns: repeat(2, 1fr);
  }
  .model_hidden2 {
    display: none;
  }
  .model_elements h3,
  .model_elements h4 {
    font-size: 10px;
  }
}

.contact {
  margin-top: 100px;
}

.contact h2 {
  margin-bottom: 75px;
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}

.contact_cards {
  display: flex;
  align-items: start;
  gap: 15px;
}

.contact_elements {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact_cards h3 {
  font-weight: 700;
  font-size: 21px;
  color: #fff;
}

.contact_cards h4,
.contact_cards a {
  font-weight: 500;
  font-size: 21px;
  color: #fff;
}

.social h3 {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.caontact_right {
  border: 2px solid #f00;
  border-radius: 20px;
  padding: 50px 70px 30px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 100px rgba(255, 0, 0, 0.3);
}

.number1,
.name1,
#choose {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgba(26, 26, 26, 0.5);
}

.caontact_right button {
  padding: 20px 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #f00 0%, #c70000 100%);
  border: none;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.caontact_right h3 {
  font-weight: 800;
  font-size: 42px;
  color: #fff;
  text-align: center;
}

.caontact_right h4 {
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  color: #fff;
  line-height: 140%;
}

.contact > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 1020px) {
  .contact h2 {
    font-size: 32px;
  }
  .contact_cards h3 {
    font-size: 18px;
  }
  .contact_cards h4,
  .contact_cards a {
    font-size: 16px;
  }
  .social h3 {
    font-size: 21px;
  }
  .caontact_right {
    padding: 40px 20px;
  }
  .caontact_right h3 {
    font-size: 32px;
  }
  .caontact_right h4 {
    font-size: 21px;
  }
  .caontact_right button {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .caontact_left img {
    width: 30px;
    height: 30px;
  }
  .social img {
    width: 100px;
    height: 40px;
  }
  .contact_cards a {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .contact > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contact h2 {
    margin-bottom: 40px;
    font-size: 21px;
  }
  .contact_cards h3,
  .contact_cards h4,
  .social h3 {
    font-size: 12px;
  }
  .contact_cards img {
    width: 24px;
    height: 24px;
  }
  .social img {
    width: 85px;
    height: 30px;
  }
  .caontact_right h3 {
    font-size: 21px;
  }
  .caontact_right h4 {
    font-size: 16px;
  }
  #choose,
  .name1,
  .number1 {
    font-size: 14px;
  }
  .contact_hidden {
    display: none;
  }
}

.map {
  margin: 100px 0 0 0;
  position: relative;
  background: url("./img/Mapsicle Map.png");
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s ease;
}

.map img {
  position: absolute;
  right: 40%;
  top: 30%;
}

.map:hover {
  background: url("img/hover_map.png");
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer_center ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo_side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer_left h3 {
  margin: 30px 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.footer_left h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.footer_right h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  align-self: flex-end;
}

.logo_side h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

@media (max-width: 1130px) {
  .footer_left img {
    width: 135px;
    height: 30px;
  }
  .footer_left h3,
  .footer_left h4 {
    font-size: 16px;
  }
  .footer_center ul li a,
  .footer_right h3 {
    font-size: 16px;
  }
}

@media (max-width: 1060px) {
  .footer_center ul {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  footer > div {
    flex-direction: column;
  }
  footer > div {
    text-align: start;
  }
  .footer_center ul {
    display: block;
  }

  .footer_center ul li {
    margin-top: 10px;
  }
  footer > div {
    position: relative;
  }
  .logo_side {
    position: absolute;
    right: 0;
    bottom: 60px;
  }
  .footer_right h3 {
    margin-top: 20px;
  }
  .footer_left h4 {
    margin-bottom: 20px;
  }
}

.service-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.service-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form-btn {
  background: linear-gradient(180deg, #f00 0%, #c70000 100%);
  transition: 0.5s ease;
}
.form-btn:hover {
  background: linear-gradient(180deg, rgb(168, 0, 0) 0%, #760000 100%);
  transform: scale(1.03);
}

.work-card {
  border-radius: 16px;
  overflow: hidden;
}

.work-img {
  overflow: hidden;
}

.work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.work-card:hover img {
  transform: scale(1.1);
}
